<h3>Current Teams</h3>
<table>
        <thead>
            <th>Abbreviation</th>
            <th>Name</th>
            <th>City</th>
            <th>State</th>
            <th>Country</th>
            <th>Stadium</th>
        </thead>
        <tbody>
            {{#each Team}}
            <tr>
                <td>{{tid}}</td>
                <td>{{Name}}</td>
                <td>{{City}}</td>
                <td>{{State}}</td>
                <td>{{Country}}</td>
                <td>{{Stadium}}</td>
                <!-- <td><button onclick="deleteTeam({{tid}})">Delete</button></td> -->
                <!--<td><a href="/Team/UpdateTeam/{{tid}}">Update</a></td>-->
            </tr>
            {{/each}}
        </tbody>
    </table>
    <a href="/Team/UpdateTeam/">Update Teams</a>
    
    <h3>Add Team</h3>
    <form id="addTeam" action="/Team" method="POST">
        Abbreviation: <input type="text" name="Abbreviation"> <br>
        Name: <input type="text" name="Name"> <br>
        City: <input type="text" name="City"> <br>
        State: <input type="text" name="State"> <br>
        Country: <input type = "text" name="Country"> <br>
        Stadium: <input type="text" name="Stadium"> <br>
        <input type="submit" value="Submit">
    </form>
    Note: Abbreviation cannot be changed after selected!
</br><br/><a href="/">Back to the home page!</a><br/>
